div {
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    background-color: pink;
    /* background-color: pink !important; */
}

.orange {
    background-color: orange;
}

.lightblue {
    background-color: lightblue;
}

#yellow {
    background-color : yellow;
}

#green {
    background-color: green;
}

div:hover {
    background-color: gray;
}

#green:hover {
    background-color: gray;
}

div:active{
    background-color: purple;
}

input:focus{
    background-color: blue;
}