button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5rem;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.2em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-button-increase,
.habit-button-decrease {
  font-size: 2rem;
  color: goldenrod;
}

.habit-button-delete {
  font-size: 2rem;
  color: darkred;
}
